:root{
    --fundo:#B0E0E6;
    --cartao-frente:#8cb3b8;
    --cartao-verso:#8cb3b8;
    --destaque:#46595b;
    --preto:#000000;
    --branco:#FFFFFF;
}

body{
    background-color:var(--fundo);
    margin: 0;
}
footer{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    color: var(--fundo);
    width: 100%;
    text-align: center;
}